* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

body {
  background: linear-gradient(250deg,#82f0e2, #f082c0);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 20px 35px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin: 0;
  text-shadow: 2px 2px 4px #000000;

}

header a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  background: #82f0e2;
  color: #f082c0;
  border-radius: 10px;
  text-shadow: none;
}

section {
  padding: 60px;
}

.section-title {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 15px;
  text-shadow: 2px 2px 4px #f082c0;
}

/* ABOUT ME STYLES */

.about-me {
  border: 3px solid white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.about-me img {
  margin-top: 20px;
  border: 5px solid white;
  border-radius: 50%;
}

.about-me p {
  background-color: rgba(48, 51, 56, 0.50);
  width: 800px;
  padding: 15px;
  margin: 20px;
  font-size: 20px;
  color: white;
  border-radius: 15px;
}
/* ABOUT ME STYLES END*/

/* WORK STYLES */
.applications {
  border-bottom: 3px solid white;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 70px;
}

.application {
  position: relative;
  padding-top: 40px;
  width: 100%;
  flex: 1;
}

.image {
  opacity: 1;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.application:hover .image {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.3;
}

.application:hover .middle {
  opacity: 1;
}

.text {
  background-color: #f082c0;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.application h3 {
  font-size: 28px;
  color: white;
  text-align: center;
  padding: 30px;
}

/* CONTACT ME*/
.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color: rgba(48, 51, 56, 0.50);
  margin-top: 30px;
  padding-bottom: 50px;
}

.contact-me {
  padding: 5px;
  width: 200px;
  margin-top: 15px;
  font-size: 1.60vw;
  color: white;
  margin: 30px;
  
}

.contact-me a {
  color: rgb(240, 106, 200);
  font-size: 1.3vw;
}

.contact-me a:hover {
  background: #f082c0;
  color: #82f0e2;
  border-radius: 20px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .section-title {
    width: auto;
  }

  .application {
    flex: 0 70%;
  }

  .contact {
    flex-wrap: wrap;
  }

  .contact-me {
    font-size: 20px;
  }

  .contact-me a {
    font-size: 15px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .about-me p {
    width: 100%;
  }
  section {
    padding: 30px 15px;
  }

 .section-title {
   width: auto;
 }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .section-title {
    width: 95%;
  }

  .application {
    flex: 0 100%;
  }

}