* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

body {
  background: linear-gradient(250deg,#82f0e2, #f082c0);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 20px 35px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin: 0;

}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  background: #82f0e2;
  color: #f082c0;
  border-radius: 10px;
}

.section-title {
  color: white;
  font-size: 40px;
  text-align: center;
}
/* ABOUT ME STYLES */

.about-me {
  border: 3px solid white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-me img {
  margin: 20px;
  border-radius: 50%;
}

.about-me p {
  background-color: rgba(48, 51, 56, 0.50);
  width: 800px;
  padding: 15px;
  margin: 20px;
  font-size: 20px;
  color: white;
  border-radius: 15px;
}
/* ABOUT ME STYLES END*/

/* WORK STYLES */
.applications {
  border-bottom: 3px solid white;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.application {
  margin: 20px;
  flex: 1;
}

.application img {
  width: 100%;
}

.application img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.application h3 {
  font-size: 28px;
  color: white;
  text-align: center;
}

